@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PlaneLog</h1>
    <p class="lead">PlaneLog is an online, web based database that tracks planes, pilots and flights.</p>
  </div>  

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Add a plane to in the Planes tab.
        </p>
        <p>
    </div>
</div>